LOCAL_RPC_URL=http://127.0.0.1:8545

MANTLE_SEPOLIA_RPC_URL=https://rpc.sepolia.mantle.xyz
MANTLESCAN_API_KEY=dummy

PRIVATE_KEY=

DEPLOYER_ADDRESS=
TEAM_WALLET=
PROTOCOL_TREASURY=
KEEPER_WALLET=
PRICE_SIGNER_WALLET=
RELAY_WALLET_ADDRESS=